# managed by ansible!

systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongos.log

processManagement:
  fork: true  # fork and run in background
  pidFilePath: /var/run/mongodb/mongod.pid  # location of pidfile
  timeZoneInfo: /usr/share/zoneinfo

net:
  port: 27017
  bindIp: 0.0.0.0

security:
  keyFile: /var/lib/mongo/mongo-keyfile

#route server
sharding:
  configDB: configReplSet/{% for c in groups[mongodb_configgroup] -%}
    {{ c }}:27019{{ "," if not loop.last else ""}}
  {%- endfor -%}
